<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="chartController">
        <div class="panel panel-default">
            <div class="panel-heading">Users Confirmed Stats. Total Users : {{UserConfirmedStats.total}}</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie chart-xs" data="UserConfirmedStats.data" labels="UserConfirmedStats.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="chartController">
        <div class="panel panel-default">
            <div class="panel-heading">Users Image Change.</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie chart-xs" data="UserImageChangeStats.data" labels="UserImageChangeStats.labels"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="chartController">
    <div class="panel panel-default">
        <div class="panel-heading">Banned Users. Total Users : {{BannedUsersStats.total}}</div>
        <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="BannedUsersStats.data" labels="BannedUsersStats.labels"></canvas>
        </div>
    </div>
</div>
<div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="chartController">
    <div class="panel panel-default">
        <div class="panel-heading">Phones Entered. Total Users : {{PhoneNumbersStats.total}}</div>
        <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="PhoneNumbersStats.data" labels="PhoneNumbersStats.labels"></canvas>
        </div>
    </div>
</div>

<div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="chartController">
    <div class="panel panel-default">
        <div class="panel-heading">Comments left. {{CommentStats.total}}</div>
        <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="CommentStats.data" labels="CommentStats.labels"></canvas>
        </div>
    </div>
</div>

<div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="chartController">
    <div class="panel panel-default">
        <div class="panel-heading">Inactive users. {{InactiveUsersStats.total}}</div>
        <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="InactiveUsersStats.data" labels="InactiveUsersStats.labels"></canvas>
        </div>
    </div>
</div>