<div class="col-md-6">
    <form class="form-login" role="form">
        <h2 class="form-login-heading">Send password to your email</h2>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-Mail" data-ng-model="userData.Email" required>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" data-ng-click="forgotPassword()">Submit</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </form>
</div>