<div class="page-header">
    <h3>Korisnici sa kojima ste prijatelj</h3>
</div>

<div class="row">
    {{'search'|translate}}: <input ng-model="query">


    <ul class="list-group">
        <li class="list-group-item" dir-paginate="friend in friends | filter:query | itemsPerPage: 10">
            <!--<a href="{{friend.Url}}"><h4 class="list-group-item-heading">{{friend.FullName}}</h4></a>-->
            {{friend.FirstName + ' ' + friend.LastName}}
            <!--<p>{{friend.Email}}</p>-->
        </li>
    </ul>
</div>
<dir-pagination-controls></dir-pagination-controls>

<!--https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination#working-with-asynchronous-data-->
<!--<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container bootstrap snippet">
    <div class="header">
        <h3 class="text-muted prj-name">
            <span class="fa fa-users fa-2x"></span>
            Users
        </h3>
    </div>

    <div class="jumbotron" style="min-height:400px;height:auto;">
        <ul class="list-group">
            <li class="list-group-item user-item text-left">
                <img class="img-circle img-user " src="http://bootdey.com/img/Content/user-453533-fdadfd.png">
                <h3>
                    <a href="#">Bootdey bootstrap</a><br>
                    <a class="btn btn-info">
                        <span class="glyphicon glyphicon-share-alt"></span>View
                    </a>
                </h3>
            </li>
            <li class="list-group-item user-item text-left">
                <img class="img-circle img-user " src="http://bootdey.com/img/Content/Smartypants3.jpg">
                <h3>
                    <a href="#">A.j from farly good parents</a><br>
                    <a class="btn btn-info">
                        <span class="glyphicon glyphicon-share-alt"></span>View
                    </a>
                </h3>
            </li>
            <li class="list-group-item user-item text-left">
                <img class="img-circle img-user " src="http://bootdey.com/img/Content/Twitter_bird_icon.png">
                <h3>
                    <a href="#">Twitter man</a><br>
                    <a class="btn btn-info">
                        <span class="glyphicon glyphicon-share-alt"></span>View
                    </a>
                </h3>
            </li>
        </ul>
    </div>
</div>

<style>
    .jumbotron .btn {
        color: #FFFFFF;
        padding: 5px !important;
        font-size: 12px !important;
        margin-left: 20px;
    }

    .jumbotron label {
        font-size: 12px;
    }

    .img-user {
        height: 120px;
        width: 120px;
    }

    .prj-name {
        font-weight: bold;
        color: #5bc0de;
    }

    .user-item img, .user-item h3 {
        display: inline-block;
    }

    .jumbotron .btn .user-item h3 a {
        color: #5bc0de;
        padding: 5px !important;
        font-size: 12px !important;
    }
</style>-->