    <div data-ng-controller="indexController">
        <h2 class="center">{{'welcomeHome'|translate}}</h2>
        <div class="row" data-ng-hide="authentication.isAuth">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <h2>{{'login'|translate}}</h2>
                <p class="text-primary">{{'loginText'|translate}}</p>
                <p><a class="btn btn-info" href="#/login" role="button">{{'login'|translate}} &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>{{'signup'|translate}}</h2>
                <p class="text-primary">{{'signupText'|translate}}</p>
                <p><a class="btn btn-info" href="#/signup" role="button">{{'signup'|translate}} &raquo;</a></p>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    </div>
<br >
<br>
<br>
<div class="container" data-ng-controller="profileController">
    <div class="row">

        <div ng-repeat="objava in objave" class="col-sm-12">

            <div style="border:1px;box-shadow:-1px 1px 4px rgb(128, 128, 128);padding:2px">

                <span class="label label-info">{{ objava.userName }}</span>
                <div class="panel-body">
                    {{objava.tekst}}<br>


                </div>
                <div class="label label-primary">{{ objava.datumObjave| date:'dd/MM/yyyy hh:mm:ss' }}</div>

            </div>
            <br>
        </div>

    </div>
</div>