    <div data-ng-controller="indexController">

        <h2 class="center">{{'welcomeHome'|translate}}</h2>
        <div class="row" data-ng-hide="authentication.isAuth">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-4">
                <h2>Login</h2>
                <p class="text-primary">{{'loginText'|translate}}</p>
                <p><a class="btn btn-info" href="#/login" role="button">{{'login'|translate}} &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Sign Up</h2>
                <p class="text-primary">{{'signupText'|translate}}</p>
                <p><a class="btn btn-info" href="#/signup" role="button">{{'signup'|translate}} &raquo;</a></p>
            </div>
            <div class="col-md-2">
                &nbsp;
            </div>
        </div>
    </div>