<div class="col-md-3"></div>
<div class="col-md-6">
    <form class="form-login" role="form">
        <h2 class="form-login-heading">Change your Password</h2>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Current Password" data-ng-model="currentUser.currentPassword" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="New Password" data-ng-model="currentUser.newPassword" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm New Password" data-ng-model="currentUser.confirmNewPassword" required>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" data-ng-click="editCurrentUser()">Submit</button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{messageEdit}}
        </div>
    </form>
</div>
<div class="col-md-3"></div>