<div class="center">
    <h2>{{currentUser.fullName}}</h2>
            {{'userEmailProfile'|translate}} {{currentUser.eMail}}
</div>
 
<form class="form-control-static">
    <div class="form-group" style="width:500px;margin:auto">
        <textarea type="text" class = "form-control" rows = "3" placeholder="What's on your mind?" ng-model="objava.tekst"></textarea>
        <button type="submit" class="btn btn-primary" style="float:right" data-ng-click="objavi(objava)">Post</button>
    </div>
    <br>
    <br>
    
    <div data-ng-hide="messageEdit == ''" data-ng-class="(PostedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'" style="width:500px;margin:4px auto;padding:2px">
       <p class="text-center" style="font-size:13px;margin:0;padding:0">{{messageEdit}}</p> 
    </div>
   
</form>

<div ng-repeat="post in posts">
    
</div>
<div class="container" >
    <div class="row" >
        <div ng-repeat="objava in objave" class="col-sm-12">

            <div class="label-default" style="border:1px">
                
                <div class="panel-body">
                    {{objava.tekst}}<br>
                   
                    <span class="label label-info">{{ objava.datumObjave }}</span>
                    <span class="label label-info">{{ objava.userName }}</span>
                    
                </div>

            </div><!--/row-->
            <br />

        </div><!--/col-->

    </div><!--/row-->
</div>