<div class="center">
    <h2>{{currentUser.fullName}}</h2>
            {{'userEmailProfile'|translate}} {{currentUser.eMail}}
</div>
 
<form>
    <div class="form-group" style="width:500px;margin:auto">
        <textarea type="text" class = "form-control" rows = "3" placeholder="What's on your mind?" ng-model="objava.tekst"></textarea>
        <button type="submit" class="btn btn-primary" style="float:right" data-ng-click="objavi(objava)">Post</button>
    </div>
    <br>
    
    <div class="alert alert-success" ng-hide="statusObjaveShow" role="alert" style="position:relative;width:300px;margin: 0 auto;">
        <p style="text-align:center">{{statusObjave}}</p>
    </div>
   
</form>

<div ng-repeat="post in posts">
    
</div>