<div class="center">
    <h2>{{currentUser.fullName}}</h2>
            {{'userEmailProfile'|translate}} {{currentUser.eMail}}
</div>
 
<form>
    <div class="form-group" style="width:500px;margin:auto">
        <textarea type="text" class = "form-control" rows = "3" placeholder="What's on your mind?" ng-model="objava.tekst"></textarea>
        <button type="submit" class="btn btn-primary" style="float:right" data-ng-click="objavi(objava)">Post</button>
    </div>
    <br>
    <br>
    
    <div data-ng-hide="messageEdit == ''" data-ng-class="(PostedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'" style="width:500px;margin:4px auto;padding:2px">
       <p class="text-center" style="font-size:13px;margin:0;padding:0">{{messageEdit}}</p> 
    </div>
   
</form>

<div ng-repeat="post in posts">
    
</div>