<!DOCTYPE html>
<html data-ng-app="AngularApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Social Network</title>

    <!-- core CSS -->
    <!-- Possible Conflict-->
    <link href="/Content/Template/css/main.css" rel="stylesheet">
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <!-- Possible Conflict End-->
    <!-- Bootstrap change
    <link href="/Content/Template/css/bootstrap.min.css" rel="stylesheet">
        -->
    <link href="Content/bootswatch/yeti/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="AdminPanel/styles/main.css" rel="stylesheet" />

    <link href="AdminPanel/styles/timeline.css" rel="stylesheet" />
    <link href="/Content/Template/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/Template/css/animate.min.css" rel="stylesheet">
    <link href="/Content/Template/css/prettyPhoto.css" rel="stylesheet">
    <link href="/Content/Template/css/responsive.css" rel="stylesheet">

    <link href="app/css/site.css" rel="stylesheet" />

    <!--[if lt IE 9]>

    <link href="AdminPanel/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet" />
    <link href="AdminPanel/bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
        <!--[if lt IE 9]>

    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/Content/Template/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/Template/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/Template/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/Template/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/Template/images/ico/apple-touch-icon-57-precomposed.png">
    <link href="app/css/ng-img-crop.css" rel="stylesheet" />
    <link href="Scripts/angular-chart.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link data-require="ui-grid@3.0.0RC20" data-semver="3.0.0RC20" rel="stylesheet" href="http://cdn.rawgit.com/angular-ui/ui-grid.info/gh-pages/release/3.0.0-rc.20/ui-grid.css" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

    <!--reCaptcha-->
    <script src='https://www.google.com/recaptcha/api.js'></script>


</head><!--/head-->

<body class="homepage">
    <!--New-->


    <div data-ng-controller="indexController">
        <div id="sidebar" class="navbar navbar-inverse hide-sidebar" role="banner">
            <div class="collapse navbar-collapse navbar-left">
                <ul class="nav navbar-link">
                    <li data-ng-hide="!authentication.isAuth">
                        <img data-ng-controller="profileController" ng-src="{{currentUser.profileImage}}" alt="headshot" class="headshot" />
                        {{'welcomeIndex'|translate}} {{authentication.userName}}
                    </li>
                    <!--Ovdje Idu Stranice-->
                    <li data-ng-hide="!authentication.isAuth" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'profileIndex'|translate}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/profile">{{'profileMyProfileIndex'|translate}}</a></li>
                            <li><a href="#/profile/edit">{{'profileEditProfileIndex'|translate}}</a></li>
                            <li><a href="#/profile/changepassword">{{'profileChangePasswordIndex'|translate}}</a></li>
                            <li><a href="#/profile/changeimage">{{'profileChangeImageIndex'|translate}}</a></li>
                            <li><a href="#/profile/friends">{{'friends' | translate}}</a></li>
                            <li><a href="#/profile/delete">{{'profileDeleteProfileIndex'|translate}}</a></li>
                            <li><a href="#/admin/profili">Admin Panel</a></li>
                            <li><a href="#/charts">Charts</a></li>

                        </ul>
                    </li><!--Profil View,Edit i Delete-->
                    <li data-ng-hide="!authentication.isAuth"><a href="" onclick="sideBarKill(true);" data-ng-click="logOut()">{{'logoutIndex'|translate}}</a></li>
                    <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-item.html">Blog Single</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="404.html">404</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                            </ul>
                        </li>
                    -->
                </ul>
            </div>

        </div><!--Sidebar-->



        <div id="wrapper" class="hide-sidebar">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-left" data-ng-hide="!authentication.isAuth">
                        <li>
                            <button id="sidebarToggle" class="btn btn-info">
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </li>
                    </ul>
                    <a href="#/profile" class="navbar-brand" id="titleSocialNetwork1" data-ng-hide="!authentication.isAuth">Social Network</a>
                    <a href="index.html" class="navbar-brand" id="titleSocialNetwork2" data-ng-hide="authentication.isAuth">Social Network</a>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div ng-controller="translationsController">
                                <a class="btn btn-link" style="color:#ffffff;" ng-click="changeLanguage()">{{language}}</a>
                            </div>
                        </li>
                        <li>
                            <div class="container-fluid" ng-controller="searchController">

                                <!--<p>Selected person: {{ person | json }}</p>-->
                                <div custom-select="t as t.FirstName for t in people | filter: { FirstName: $searchTerm }" ng-model="person" data-ng-click="goToProfile()">
                                    <div class="pull-left" style="width: 40px">
                                        <!-- <img ng-src="{{ t.picture }}" style="width: 30px" />-->
                                    </div>
                                    <div class
                                    <div class="pull-left">
                                        <strong>{{ t.FirstName+' '+t.LastName }}</strong><br />
                                        <span>{{ t.UserName }}</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                </div>
                        </li>
                        <li><!--Do Not Remove--></li>
                    </ul>
                </div>
            </nav><!--Top-->

            <div id="main" class="main">
                <div class="container-fluid">
                    <div data-ng-view="">
                    </div>
                </div>
            </div><!--/#main-->
        </div>
       
    </div>

    <!--End-->
     
     <div class="footer" style="position:absolute;width:100%;background-color:#808080">
            <div class="container-fluid">
                    <h4 class="text-center" style="color:aliceblue"> 2016 NWT Social Network @Nadrealisti</h4>
            </div>
        </div><!--/#footer-->

  

    <script src="/Scripts/jquery-2.2.3.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.prettyPhoto.js"></script>
    <script src="/Scripts/jquery.isotope.min.js"></script>
    <script src="/Scripts/main.js"></script>
    <script src="/Scripts/wow.min.js"></script>

    <!-- 3rd party libraries -->
    <script src="app/js/site.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="AdminPanel/bower_components/Chart.js/Chart.min.js"></script>
    <script src="Scripts/angular-chart.min.js"></script>
    <script src="AdminPanel/bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script src="AdminPanel/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="Scripts/angular-translate.min.js"></script>
    <script src="Scripts/angular-translate-loader-url.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="Scripts/loading-bar.min.js"></script>
    <script src="Scripts/ng-file-upload-shim.min.js"></script>
    <script src="Scripts/ng-file-upload.min.js"></script>
    <script src="app/js/ng-img-crop.js"></script>
    <script src="app/js/customSelect.js"></script>


    <script src="https://cdn.rawgit.com/mike-marcacci/objectpath/v1.1.0/lib/ObjectPath.js"></script>
    <script src="https://cdn.rawgit.com/geraintluff/tv4/v1.1.9/tv4.min.js"></script>
    <script src="https://cdn.rawgit.com/Textalk/angular-schema-form/0.8.0/dist/schema-form.js"></script>
    <script src="https://cdn.rawgit.com/Textalk/angular-schema-form/0.8.0/dist/bootstrap-decorator.js"></script>

    <script data-require="ui-grid@3.0.0RC20" data-semver="3.0.0RC20" src="http://cdn.rawgit.com/angular-ui/ui-grid.info/gh-pages/release/3.0.0-rc.20/ui-grid.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>
    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/tokensManagerService.js?v=2"></script>
    <script src="app/services/userService.js"></script>
    <script src="app/services/searchService.js"></script>
    <script src="app/services/objaveService.js"></script>
    <script src="app/services/chartService.js"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/refreshController.js?v=2"></script>
    <script src="app/controllers/tokensManagerController.js?v=2"></script>
    <script src="app/controllers/associateController.js?v=2"></script>
    <script src="app/controllers/confirmEmailController.js"></script>
    <script src="app/controllers/forgotPasswordController.js"></script>
    <script src="app/controllers/profileController.js"></script>
    <script src="app/controllers/resetPasswordController.js"></script>
    <script src="app/controllers/translationsController.js"></script>
    <script src="app/controllers/searchController.js"></script>
    <script src="app/controllers/profileOtherController.js"></script>
    <script src="app/controllers/friendsController.js"></script>
    <script src="app/controllers/chartController.js"></script>
    <script src="app/js/customSelect.js"></script>


    <!--<a href="app/views/profile.html">app/views/profile.html</a>-->
    <!-- Load custom filters -->
    <!-- Load custom directives -->

</body>
</html>